include mixins

doctype html
html(lang="en")
  head
    include ./head
    title Brado - About
  body
    // Preloader Start
    #preloader
      .jumper
        div
        div
        div
    // Preloader End
    // Header
    include ./header

    header
      nav.navbar.navbar-expand-lg
        .container
          a.navbar-brand(href='index.html')
            img(src='./assets/images/logo.png', alt='')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarResponsive.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='index.html') Home
              li.nav-item
                a.nav-link(href='about.html') About Us
              li.nav-item
                a.nav-link(href='services.html') Our Services
                  i.fa.fa-angle-down(aria-hidden='true')
              li.nav-item
                a.nav-link(href='#') Our Project
                  i.fa.fa-angle-down(aria-hidden='true')
              li.nav-item.active
                a.nav-link(href='blog.html') Blog
                  i.fa.fa-angle-down(aria-hidden='true')
              li.nav-item
                a.nav-link(href='contact.html') Contact Us
              li.nav-item.nav-item-search
                a.nav-link(href='#')
                  i.fa.fa-search(aria-hidden='true')

    //Page Content

    //Banner Starts Here
    .page-heading(style='background-image: url(assets/images/blog-detail-banner.png);').header-text.blog-detail-banner
      .container
        .row
          .col-md-12.content
            span Articles
            h1 Lorem ipsum is a text
            span Lorem ipsum is a placeholder text that is commonly used in the graphic design and publishing industries.
    //Banner Ends Here


    .blog-detail
      .container
        .row
          .col-md-12.blog-detail-content#tabs-blog
            div
              p The full version of Lorem ipsum is as follows:
              br
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
              br
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
            img(src="assets/images/blog-detail.png", alt="")
            div
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
              br
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
            img(src="assets/images/blog-detail2.png", alt="")
            div
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
              br
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
            .author
              div 20/04/2023
              div Hugh Do
            .blogs
              .container
                .list-tab
                  ul
                    li
                      a(href='#tabs-1') All Article
                    li
                      a(href='#tabs-2') Article
                    li
                      a(href='#tabs-3') News
                    li
                      a(href='#tabs-4') Global
                    li
                      a(href='#tabs-5') Lorem Ipsum
            hr
            .new-post.row
              .col-md-12
                .section-heading
                  h2
                    | New Post
              section
                article#tabs-1
                  .col-md-12
                    +serviceItem('assets/images/service_01.jpg','Cash Utilization and Forecasting','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_02.jpg','Cost Reduction Initiatives and Analysis','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_03.jpg','Debt Managemen','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                article#tabs-2
                  .col-md-12
                    +serviceItem('assets/images/service_01.jpg','Cash Utilization and Forecasting','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_02.jpg','Cost Reduction Initiatives and Analysis','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_03.jpg','Debt Managemen','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                article#tabs-3
                  .col-md-12
                    +serviceItem('assets/images/service_01.jpg','Cash Utilization and Forecasting','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_02.jpg','Cost Reduction Initiatives and Analysis','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_03.jpg','Debt Managemen','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                article#tabs-4
                  .col-md-12
                    +serviceItem('assets/images/service_01.jpg','Cash Utilization and Forecasting','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_02.jpg','Cost Reduction Initiatives and Analysis','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_03.jpg','Debt Managemen','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                article#tabs-5
                  .col-md-12
                    +serviceItem('assets/images/service_01.jpg','Cash Utilization and Forecasting','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_02.jpg','Cost Reduction Initiatives and Analysis','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')
                    +serviceItem('assets/images/service_03.jpg','Debt Managemen','It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.')



    include ./form-contact
    include ./footer


    // Bootstrap core JavaScript
    script( src="vendor/jquery/jquery.min.js")
    script( src="vendor/bootstrap/js/bootstrap.bundle.min.js")

    // Additional Scripts
    script( src="assets/js/custom.js")
    script( src="assets/js/owl.js")
    script( src="assets/js/slick.js")
    script( src="assets/js/accordions.js")

    script(language='text/javascript').
      cleared[0] = cleared[1] = cleared[2] = 0;

      function clearField(t) {
        if (!cleared[t.id]) {
          cleared[t.id] = 1;
          t.value = '';
          t.style.color = '#fff';
        }
      }
