.sub-header
  .container
    .row
      .col-md-8.col-xs-12
        ul.left-info
          li
            a(href='#')
              i.fa.fa-clock-o
              |Mon-Fri 09:00-17:00
          li
            a(href='#')
              i.fa.fa-phone
              |090-080-0760
      .col-md-4
        ul.right-icons
          li
            a(href='#')
              img(src="assets/images/fb.png", alt="")
          li
            a(href='#')
              img(src="assets/images/twitter.png", alt="")
          li
            a(href='#')
              img(src="assets/images/in.png", alt="")

